.producto{
    display: flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
    align-items: center;
    background:#e4e1e1;
    margin:3rem auto;
}

.producto__h2{
    font-size: 2rem;
    font-weight: bold;
}

.producto__form{
    display: flex;
    flex-direction: column;
    width:550px;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:2rem;
    
}

.producto__form__input{
    width:100%;
    padding: 1rem;
    border:none;
}

.producto__form__textarea{
    width:100%;
    padding: 1rem;
    border:none;}

.producto__form__submit{
    padding:1rem;
    border:none;
    color:#fff;
    background: #2A7AE4;
    cursor: pointer;
    width:60%;
}


@media (max-width: 767px) {
    .producto{
        display: flex;
        flex-direction: column;
        width:90%;
        justify-content: center;
        align-items: center;
        background:#e4e1e1;
        margin:3rem auto;
    }

    .producto__form{
        display: flex;
        flex-direction: column;
        width:90%;
        justify-content: center;
        align-items: center;
        gap:2rem;
        padding:1rem;
        
    }
}