.contacto{
    width:100%;
    max-width: 1200px;
    height:240px;
    display: flex;
    padding: 4rem;
    margin-top: 3rem;
    justify-content:space-evenly;
    background: #EAF2FD;
}

.logo--contacto{
    width: 100%;
    max-width: 176px;
    height:50px;
}


.contacto__lista__item{
    margin-bottom: 1.5rem;
}

.contacto__lista__item__link{
    font-size: 1rem;
    font-weight: 500;
}

.contacto__form{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 240px;
}
.contacto__form__formulario{
    display: flex;
    flex-direction: column;
    
}
.contacto__form__h3{
    font-weight: 800;
    margin-bottom: 1rem;
}

.contacto__form__input{
    margin-bottom: 1rem;
    padding: 1rem;
    border:none;
}

.contacto__form__textarea{
    margin-bottom: 1rem;
    padding: 1rem;
    min-width: 90%;
    min-height: 5rem;
    border:none;

}

.contacto__form__submit{
    margin-left: 0;
    margin-top: 0;
    width: 90%;
    border:none;

}

@media (max-width: 768px){
   .contacto{
    flex-direction: column;
    flex-wrap: wrap;
    margin:2rem auto;
    padding: 0;
    height:auto;
    align-items: center;
}

    

.contacto__form{
   flex-direction: column;
    margin-top: 1rem;
    width: 80%;

}}